@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #33393e;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bouda {
  position: fixed;
  bottom: 10px;
  margin: 0 auto;
  color: white;
}

.c-player {
  display: block;
  background-color: #33393e;
  display: block;
  margin: 5px auto;
  padding: 60px;
  min-width: 370px;
  max-width: 370px;
  border-radius: 16px;
  transition-duration: 1s;
  box-shadow: inset -2px -2px 12px rgba(0, 0, 0, 0.8), inset 2px 2px 6px rgba(255, 255, 255, 0.4);
}

.c-player > p {
  color: #aaa;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
.c-player h4 {
  color: #e8c103;
  font-size: 20px;
  text-align: center;
}

.c-player > p span {
  font-weight: 400;
  color: #e8bc0c;
}

.c-player--details .details-img {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.rotate {
  animation: rotation 12s infinite linear;
  animation-iteration-count:infinite;
  animation-play-state: running;
}
.paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
} 

.c-player--details .details-img img {
  display: block;
  margin: 40px auto;
  width: 200px;
  max-width: 200px;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8), -6px -6px 12px rgba(255, 255, 255, 0.4);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.c-player--details .details-img:after {
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  left: -25px;
  right: -25px;
  bottom: -25px;
  border-radius: 20%;
}

.c-player--details .details-title {
  color: #EEE;
  font-size: 28px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8), -2px -2px 4px rgba(255,255,255,0.4);
  text-align: center;
  margin-bottom: 10px;
}

.c-player--details .details-artist {
  color: #AAA;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8), -2px -2px 4px rgba(255,255,255,0.4);
  text-align: center;
  margin-bottom: 20px;
}

.c-player--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.c-player--controls .play-btn {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8), -2px -2px 5px rgba(255, 255, 255, 0.4), inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  background-color: #e8bc0c;
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
}

.c-player--controls .skip-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #888;
  font-size: 20px;
}